* {
  padding: 0px;
  margin: 0px;
  /* font-family: "Gowun Dodum", sans-serif; */
  font-family: "Noto Sans KR", sans-serif;
  transition: all 0.3s;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

button {
  border: 1px solid gainsboro;
  background-color: seashell;
  cursor: pointer;
}

header {
  padding: 1rem;
  border-bottom: 1px solid gainsboro;
}
nav {
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  flex: 0 0 300px;
  border-right: 1px solid gainsboro;
  background-color: white;
  z-index: 10;
}
main {
  position: relative;
  padding: 2rem 3rem;
  transition: all 0.3s;
  flex: 1 1 auto;
}
.wrapper {
  display: flex;
}

.hl {
  color: palevioletred;
}
/* 왼쪽 탑 컨테이너 */
.right_top_btn_container {
  position: absolute;
  top: 20px;
  right: 40px;
  display: flex;
  width: 90px;
  justify-content: space-between;
}
.right_top_btn_container button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.setting_btn {
  background: url(../source/bull.jpg) center center;
  background-size: cover;
}
a {
  text-decoration: none;
  color: black;
}

#profile_container,
#profile {
  text-align: center;
  padding-bottom: 2rem;
}
#profile_container {
  border-bottom: 1px solid gainsboro;
}
.menu {
  padding-top: 2rem;
  cursor: pointer;
}

.profile_img {
  background: url(../source/bull.jpg) center center;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

.profile_log {
  padding: 0 2rem;
  margin-bottom: 0.5rem;
}

.my_icon {
  font-size: 1.5rem;
}
.main_header {
  display: flex;
  position: absolute;
  top: -32px;
  left: 10px;
}
.main_header h3 {
  margin-right: 1rem;
  border-bottom: 6px solid rosybrown;
  padding: 0 0.5rem;
  cursor: pointer;
}

.main_title {
  margin-bottom: 2rem;
}
.main_container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  transition: none;
}
.main_card {
  flex: 0 0 280px;
  cursor: pointer;
  height: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}
.main_card .title {
  max-height: 50px;
  width: 100%;
  overflow: hidden;
}
.sub_content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  color: rgb(163, 163, 163);
}
.main_card .image {
  width: 100%;
  height: 150px;
  background-color: rosybrown;
  margin-bottom: 0.5rem;
  overflow: hidden;
}
.main_img_1 {
  background: url(../source/mike_bright.jpg) center center;
  background-size: cover;
}

.main_img_2 {
  background: url(../source/night.jpg) center center;
  background-size: cover;
}

.main_img_3 {
  background: url(../source/man_in_oceon.jpg) center center;
  background-size: cover;
}
.main_card .content {
  color: rgb(88, 88, 88);
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

button.write_btn {
  position: fixed;
  background-color: rosybrown;
  width: 80px;
  height: 80px;
  bottom: 3rem;
  right: 3rem;
  border-radius: 50%;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  border: 5px solid rgb(167, 126, 126);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}
button.write_btn:hover {
  background-color: black;
  border: none;
}
@media (max-width: 1000px) {
  nav {
    display: none;
  }
  .main_header {
    left: 150px;
  }
}
